body{
    max-width: 1024px;
    margin: auto;
}
h1,h2,h3{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}
.o-info-container, .o-portfolio-container{
    margin: 1rem;
}
.o-info-container{
    padding: 2rem;
}
.o-info-extra-container, .o-project{
    display: flex;
}
.o-portfolio-container{
    padding: 0 2rem 2rem 2rem;
}
.o-img-project{
    width: 15rem;
    height: 15rem;
}
.o-project{
    margin: 1rem 0 1rem 0;
    padding: 0.1rem;
    border: 0.1rem solid lightgray;
    border-radius: 0 0.5rem 0.5rem 0;
}
#contactInfoContainer, .o-description-project{
    margin: 0 1.5rem 0 1.5rem;
}
.o-img-profile{
    width: 10rem;
    height: 10rem;
}
